<div class="has-h-screen is-flex has-direction-column">

	<app-navbar windowTitle="{{ title }}"></app-navbar>

	<div class="has-h-full has-direction-column is-flex">

		<div class="has-h-full is-flex has-direction-column has-items-center has-justify-center">
			<i class="fa-solid fa-folder-open has-size-8 has-text-gray-400 has-mb-2"></i>
			<p class="has-m-0 has-size-4 has-text-gray-400 has-text-center">No hay historiales<br>clínicos registrados</p>
		</div>

	</div>

</div>

<div class="btn-agregar-hc has-h-24 has-w-24 is-flex has-items-center has-justify-center is-pill has-bg-aqua-200 has-bg-aqua-300-hover is-shadowed">
	<i class="fa-solid fa-file-circle-plus has-size-6 has-text-aqua-600"></i>
</div>